.title-container {
  border: 1px solid #212121;
}

.title {
  display: flex;

  &__icon {
    margin-right: 24px;

    img {
    
      min-width: 64px;
      height: auto;
    }
  }

  &__title {
    margin-bottom: 14px;
  }

  &__title {
    color: #3f4049;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
  }

  &__text {
    font-size: 20px;
    color: #000;
    line-height: 130%;
    font-weight: 400;
    text-transform: lowercase;
  }
}
